html,body {
    margin: 0;
    padding: 0;
  }

  body {
  padding: 1em;
  text-align: center;
  background-color: #0B0C10;
  background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: space;
  }

  h1, h2  {
    font-family: 'Nova Cut', cursive;
  /* font-family: monospace; */
  color: rgb(212, 209, 36);
}

canvas {
  
   background-color: #45A29E;
    width: 100%;
    height: 100;
    position: relative;
    
}
#container {
    position: relative;
    max-width: 55em;
    max-height: 100vh;
    background: #C5c6C7;
    
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: .5em;
    border: 5px solid #1F2833;
    grid-template-rows: .20fr .5fr .20fr;
    grid-template-columns: .25fr .5fr .25fr; 
    grid-template-areas: "top top top"
                         "game game game"
                         "btm-left center btm-right";
}

#top, #btm-left, #center, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #474747;*/
    background-color: #1F2833;
    border: 2px solid red;
   

}

#top {
    grid-area: top;
    border: 2px solid blue;
    position: relative;
   
}
/*
#top-left {
  grid-area: top-left;
  border: 2px solid blue;
}*/

  main {
    grid-area: game;
  }
  #btm-left {
    grid-area: btm-left;
    border: 2px solid blue;
   
  }
  
  #center {
    grid-area: center;
    border: 2px solid blue;
    
  }

  #btm-right{
    grid-area: btm-right;
    border: 2px solid blue;
    
  }
  #playBtn {
    position: absolute;
    left: 0;
    width: 8em;
    margin-left:1em;
    line-height: 2;
    font-size: 1em;
    cursor: pointer; 
    background: #C5C6C7;
   /* background-color: rgb(87, 206, 253); */
   font-family: 'Nova Cut', cursive;
    font-weight: 700;
  }
  #endBtn {
    position: absolute;
    bottom: .5em;
    font-size: 1.3em;
    color: #bd5d14;
    /*background-color: #474747;*/
    font-family: 'Nova Cut', cursive;
    background-color: rgb(87, 206, 253); 
    background-color: #1F2833;
    color: rgb(212, 209, 36);
    line-height: 1.3 ;
    cursor: pointer;
    transform: translateX(-50%);
    left: 50%;
    
}
#startBtn {
  margin-top: 1em;
  line-height: 2;
  cursor: pointer;
  font-family: 'Nova Cut', cursive;
  background-color: #1F2833;
  color: #C5c6C7;
  border: 1px solid red;
  border-radius: .5em;
}
#instructions {
    border: 10px solid rgb(100, 0, 0);
    border-radius: 5px;
   /* background: rgb(139, 219, 250);*/
   background-color: #1F2833;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bolder;
    padding: 1em;
  }
  
  #instructions p{
    color: #C5c6C7;
    
    font-family: 'Nova Cut', cursive;
  }
  #playBtn:hover,  #instructions:hover, #startBtn:hover {
    box-shadow: 0 0 4em #C5C6C7;
}
  #endBtn:hover {
    box-shadow: 0 0 3em #1F2833;;
  }